<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arminzheng.inflation.mapper.UserMapper">
  <select id="findById" resultType="com.arminzheng.inflation.model.UserPO">
    SELECT *
    FROM USERS
    WHERE ID = #{id}
  </select>
  <select id="test" resultType="com.arminzheng.inflation.model.UserPO">
    SELECT *
    FROM USERS
    WHERE EMAIL LIKE '%ja%';
  </select>
  <insert id="insert" parameterType="com.arminzheng.inflation.model.UserPO">
    INSERT INTO USERS (NAME, EMAIL)
    VALUES (#{name}, #{email})
  </insert>
</mapper>
